<h1>Now your result</h1>
<p>Your word: <%= @attempt %></p>
<p>Time taken to answer: <%= @score[:time].round(2) %></p>
<p>Your score: <%= @score[:score].round(2) %></p>
<p>Message: <%= @score[:message]%></p>
